<%- include("./partials/header") %>

    <div class="container">
        <%DB.forEach(product=>{ %>
            <%= product.id %>
                <% }) %>
    </div>

    <%- include("./partials/footer") %>