<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 7</title>
    <link rel="stylesheet" href="/dist/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<nav>
    <ul>
        <li>
            <i class="bi bi-house-door-fill"></i>
            <a href="/home">خانه</a>
        </li>
        <li>
            <i class="bi bi-person-circle"></i>
            <a href="/contact">تماس با ما</a></li>
        <li>
            <i class="bi-info-circle-fill"></i>
            <a href="about">درباره ی ما</a></li>
    </ul>
</nav>

<body>